<ul class="messages">
	{{#messages}}
		{{#is_new_date}}
		<li class="date">
			{{formatted_date}}
		</li>
		{{/is_new_date}}
		<li class="message {{#from_me}}from-me{{/from_me}} {{odd_even}} {{#same_user}}same-user{{/same_user}}" data-message-id="{{message_id}}" data-media="{{media_type}}">
			<span class="time">{{formatted_time}}</span>
			<span class="sender">{{user_first_name}}</span>
			{{#text}}<span class="text">{{text}}</span>{{/text}}
			{{#media_sticker}}<span class="sticker"><img src="../stickers/{{media_file}}" /></span>{{/media_sticker}}
			{{#media_photo}}<span class="photo"><img src="../{{media_file}}" /></span>{{/media_photo}}
			{{#media_document}}<span class="document"><a href="../{{media_file}}">{{media_file}}</a></span>{{/media_document}}
			{{#media_geo}}<span class="geo"><img src="../{{media_file}}" width="300" height="150"></span>{{/media_geo}}
		</li>
	{{/messages}}
</ul>
