<!DOCTYPE html>
<html>
<head>
	<title>Telegram Backup for {{user.getUserString}}</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../style.css" type="text/css" />
</head>

<body>
	<h1>Telegram Backup</h1>
	{{#dialog}}
		<h2>Dialog with {{first_name}} {{last_name}} {{#username}}(@{{username}}){{/username}}</h2>
	{{/dialog}}
	{{#chat}}
		<h2>Chat {{name}}</h2>
	{{/chat}}
	
	<a href="../index.html">Back to the overview</a>
	
	{{#paginated}}
		<h3>{{pages}} Pages</h3>
		<ul>
		{{#pages_data}}
			<li><a href="{{filename}}">Page {{page}}</a> (starting {{start_date}} {{start_time}})</li>
		{{/pages_data}}
		</ul>
	{{/paginated}}
	{{^paginated}}
		{{> _messages }}
	{{/paginated}}
	<a href="../index.html">Back to the overview</a>
	
	{{> _stats }}
	
</body>
</html>
