<!DOCTYPE html>
<html>
<head>
	<title>Telegram Backup for {{user.getUserString}}</title>
</head>

<body>
	<h1>Telegram Backup</h1>
	{{#dialog}}
		<h2>Dialog with {{first_name}} {{last_name}} {{#username}}(@{{username}}){{/username}}</h2>
	{{/dialog}}
	{{#chat}}
		<h2>Chat {{name}}</h2>
	{{/chat}}
	
	<a href="../index.html">Back to the overview</a>
	
	<ul class="messages">
		{{#messages}}
			{{#is_new_date}}
			<li class="date">
				{{formatted_date}}
			</li>
			{{/is_new_date}}
			<li class="message {{#from_me}}from-me{{/from_me}}" data-message-id="{{message_id}}" data-media="{{media_type}}">
				<span class="sender">{{user_first_name}}</span>
				<span class="time">{{formatted_time}}</span>
				{{#text}}<span class="text">{{text}}</span>{{/text}}
				{{#media_sticker}}<span class="sticker"><img src="../../../stickers/{{media_file}}" /></span>{{/media_sticker}}
				{{#media_photo}}<span class="photo"><img src="../{{media_file}}" /></span>{{/media_photo}}
				{{#media_document}}<span class="document"><a href="../{{media_file}}">{{media_file}}</a></span>{{/media_document}}
			</li>
		{{/messages}}
	</ul>
	
	<a href="../index.html">Back to the overview</a>
	
</body>
</html>
